/*md

# Links
```html_example
    <a class="link" href="/">link</a>
```

```html_example
    <a class="link link_icon" href="/"><span class="fi flaticon-plus-1"></span> link with icon</a>
```

*/

@mixin link {
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding-bottom: rem(3);
    position: relative;
    text-decoration: none;
    vertical-align: top;

    &:hover {
        &::after {
            width: 100%;
        }
    }

    &::before {
        @include trans(background);

        background: colors(gray-light);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &::after {
        @include trans(all);

        background: colors(blue);
        bottom: -1px;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 0;
    }
}

.link {
    @include link;

    color: colors(blue);
}

.link_icon {
    @include link;

    span {
        vertical-align: middle;
    }
}
