.btn {
    &,
    &:link,
    &:visited {
        border: none;
        border-radius: 10rem;
        cursor: pointer;
        display: inline-block;
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(colors(black), .2);
        transform: translateY(-3px);

        &::after {
            opacity: 0;
            transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active,
    &:focus {
        box-shadow: 0 .5rem 1rem rgba(colors(black), .2);
        outline: none;
        transform: translateY(-1px);
    }

    &--white {
        background-color: colors(white);
        color: colors(grey-dark);

        &::after {
            background-color: colors(white);
        }
    }

    &--green {
        background-color: colors(green);
        color: colors(white);

        &::after {
            background-color: colors(green);
        }
    }

    &::after {
        border-radius: 10rem;
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .4s;
        width: 100%;
        z-index: -1;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-link {
    &:link,
    &:visited {
        border-bottom: 1px solid colors(green);
        color: colors(green);
        display: inline-block;
        font-size: $font-size;
        padding: 5px;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover {
        background-color: colors(green);
        box-shadow: 0 1rem 2rem rgba(colors(black), .15);
        color: colors(white);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba(colors(black), .15);
        transform: translateY(0);
    }
}
