.btn {
    &,
    &:link,
    &:visited {
        border: 1px solid transparent;
        border-radius: 10rem;
        cursor: pointer;
        display: inline-block;
        font-size: rem(18);
        letter-spacing: 1px;
        padding: rem(16 30);
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
        white-space: unset;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(colors(black), .2);
        transform: translateY(-3px);

        &::after {
            opacity: 0;
            transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active,
    &:focus {
        box-shadow: 0 .5rem 1rem rgba(colors(black), .2);
        outline: none;
        transform: translateY(-1px);
    }

    &::after {
        border-radius: 10rem;
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .4s;
        width: 100%;
        z-index: -1;
    }

    &_white {
        background-color: colors(white);
        border: 1px solid colors(black);
        color: colors(black);
        text-shadow: none !important;

        &::after {
            background-color: colors(white);
        }
    }
    &_orange {
        background-color: colors(orange);
        border: 1px solid colors(black);
        color: colors(white);
        text-shadow: none !important;

        &::after {
            background-color: colors(orange);
        }
    }
}

.btn-link {
    cursor: pointer;

    &:link,
    &:visited {
        border-bottom: 1px solid blue;
        color: blue;
        display: inline-block;
        font-size: $font-size;
        padding: 5px;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover {
        background-color: blue;
        box-shadow: 0 1rem 2rem rgba(colors(black), .15);
        color: colors(white);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba(colors(black), .15);
        transform: translateY(0);
    }
}
