.btn {
    &,
    &:link,
    &:visited {
        border-radius: 10rem;
        border: none;
        box-shadow: $box-shadow;
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
        white-space: normal;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(colors(black), .2);
        transform: translateY(-3px);

        &::after {
            opacity: 0;
            transform: scaleX(1.4) scaleY(1.6);
        }
    }

    &:active,
    &:focus {
        box-shadow: 0 .5rem 1rem rgba(colors(black), .2);
        outline: none;
        transform: translateY(-1px);
    }

    &--white {
        background-color: colors(white);
        color: colors(grey-dark);

        &::after {
            background-color: colors(white);
        }
    }

    &--green {
        background-color: colors(green);
        color: colors(white);

        &::after {
            background-color: colors(green);
        }
    }

    &--red {
        @include grad(-45, 1);
        @include trans;

        background-size: 100% 100%;
        color: colors(white);

        &::after {
            background-color: colors(red);
        }

        &:active {
            background-color: colors(red);
        }

        &:hover {
            background-size: 150% 100%;
            color: colors(black);
        }
    }

    &--yellow {
        @include grad(-45, 3);
        @include trans;

        background-size: 100% 100%;
        color: colors(black);

        &::after {
            background-color: colors(yellow);
        }

        &:active {
            background-color: colors(yellow);
        }

        &:hover {
            background-size: 150% 100%;
            color: colors(black);
        }
    }

    &--dark {
        @include grad(-45, 2);
        @include trans;

        background-size: 100% 100%;
        color: colors(white);

        &::after {
            background-color: colors(blue);
        }

        &:active {
            background-color: colors(blue);
        }

        &:hover {
            background-size: 150% 100%;
            color: colors(white);
        }
    }

    &--blue {
        @include grad(-45, 7);
        @include trans;

        background-size: 100% 100%;
        color: colors(white);

        &::after {
            background-color: colors(purple);
            color: colors(white);
        }

        &:active {
            background-color: colors(purple);
            color: colors(white);
        }

        &:hover {
            background-size: 150% 100%;
            color: colors(white);
        }
    }

    &::after {
        border-radius: 10rem;
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .4s;
        width: 100%;
        z-index: -1;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &.btn--small {
            font-size: 16px;
            padding: 12px 24px;
    }
}

.btn--link {
    &:link,
    &:visited {
        border-bottom: 1px solid colors(purple);
        color: colors(purple);
        display: inline-block;
        font-size: $font-size;
        padding: 5px;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover {
        background-color: colors(purple);
        box-shadow: 0 1rem 2rem rgba(colors(black), .15);
        color: colors(white);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba(colors(black), .15);
        transform: translateY(0);
    }
}
