.count-down {
    @include grad(0, 7);
    border-radius: rem(20);
    box-shadow: 0 0 35px 20px rgba(colors(black), 0.1);
    color: colors(white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: rem(48);
    margin-top: rem(48);
    padding: rem(16 12);
    position: relative;

    @include media(sm) {
        &::after {
            background: url(../img/decor.png)no-repeat 50% 50%/cover;
            content: '';
            height: rem(189);
            position: absolute;
            right: rem(-300);
            top: rem(50);
            width: rem(300);
        }

        &::before {
            background: url(../img/decor.png)no-repeat 50% 50%/cover;
            content: '';
            height: rem(189);
            left: rem(-300);
            position: absolute;
            top: rem(50);
            transform: rotateY(180deg);
            width: rem(300);
        }
    }

    &__column {
        padding: rem(24 0);
        width: 100%;

        @include media(sm) {
            width: 50%;
        }

        @include media(md) {
            width: 25%;
        }
    }

    &__numbers {
        font-size: rem(32);
        font-weight: bold;
        padding-bottom: rem(18);
    }

    &__icon {
        color: colors(yellow);
        font-size: rem(48);
        padding-bottom: rem(12);
    }
}