    /*
    Flaticon icon font: Flaticon
    Creation date: 01/10/2020 16:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-seo-and-web:before { content: "\f100"; }
.flaticon-exchange:before { content: "\f101"; }
.flaticon-users:before { content: "\f102"; }
.flaticon-profile:before { content: "\f103"; }
.flaticon-patent:before { content: "\f104"; }
.flaticon-smartphone:before { content: "\f105"; }
.flaticon-touch-screen:before { content: "\f106"; }
.flaticon-boss:before { content: "\f107"; }
.flaticon-user:before { content: "\f108"; }
.flaticon-calculator:before { content: "\f109"; }
.flaticon-ipad:before { content: "\f10a"; }
.flaticon-access-control:before { content: "\f10b"; }
.flaticon-success:before { content: "\f10c"; }
.flaticon-like:before { content: "\f10d"; }
.flaticon-time:before { content: "\f10e"; }
.flaticon-gps:before { content: "\f10f"; }
.flaticon-cross:before { content: "\f110"; }
.flaticon-multimedia:before { content: "\f111"; }
.flaticon-folder:before { content: "\f112"; }
.flaticon-attach:before { content: "\f113"; }
.flaticon-bell:before { content: "\f114"; }
.flaticon-pass:before { content: "\f115"; }
.flaticon-push-pin:before { content: "\f116"; }
.flaticon-smartphone-1:before { content: "\f117"; }
.flaticon-download:before { content: "\f118"; }
.flaticon-tick:before { content: "\f119"; }
.flaticon-notebook:before { content: "\f11a"; }
.flaticon-pass-1:before { content: "\f11b"; }
.flaticon-user-1:before { content: "\f11c"; }
.flaticon-share:before { content: "\f11d"; }
.flaticon-magnifying-glass:before { content: "\f11e"; }
.flaticon-exit:before { content: "\f11f"; }
.flaticon-user-2:before { content: "\f120"; }
.flaticon-clock:before { content: "\f121"; }
.flaticon-receipt:before { content: "\f122"; }
.flaticon-viber:before { content: "\f123"; }
.flaticon-graph:before { content: "\f124"; }
.flaticon-facebook:before { content: "\f125"; }
.flaticon-clock-1:before { content: "\f126"; }
.flaticon-youtube:before { content: "\f127"; }
.flaticon-financial:before { content: "\f128"; }
.flaticon-instagram:before { content: "\f129"; }
.flaticon-money:before { content: "\f12a"; }
.flaticon-chart:before { content: "\f12b"; }
.flaticon-idea:before { content: "\f12c"; }
.flaticon-psychology:before { content: "\f12d"; }
.flaticon-confusion:before { content: "\f12e"; }
.flaticon-analytics:before { content: "\f12f"; }
.flaticon-autism:before { content: "\f130"; }
.flaticon-in-love:before { content: "\f131"; }
.flaticon-thinking:before { content: "\f132"; }
.flaticon-greed:before { content: "\f133"; }
.flaticon-target:before { content: "\f134"; }
.flaticon-magic:before { content: "\f135"; }
.flaticon-password:before { content: "\f136"; }
.flaticon-play-video-signal:before { content: "\f137"; }
.flaticon-imac:before { content: "\f138"; }
.flaticon-archery:before { content: "\f139"; }
.flaticon-idea-1:before { content: "\f13a"; }
.flaticon-target-audience:before { content: "\f13b"; }
.flaticon-startup:before { content: "\f13c"; }
.flaticon-imac-1:before { content: "\f13d"; }
.flaticon-queen:before { content: "\f13e"; }
.flaticon-target-1:before { content: "\f13f"; }
.flaticon-target-2:before { content: "\f140"; }
.flaticon-pawn:before { content: "\f141"; }
.flaticon-piggy-bank:before { content: "\f142"; }
.flaticon-money-1:before { content: "\f143"; }
.flaticon-bar-chart:before { content: "\f144"; }
.flaticon-diamond:before { content: "\f145"; }
.flaticon-safebox:before { content: "\f146"; }
.flaticon-money-2:before { content: "\f147"; }
.flaticon-check:before { content: "\f148"; }
.flaticon-money-bag:before { content: "\f149"; }
.flaticon-hourglass:before { content: "\f14a"; }
.flaticon-invoice:before { content: "\f14b"; }
.flaticon-social-network:before { content: "\f14c"; }
.flaticon-vk:before { content: "\f14d"; }
.flaticon-facebook-1:before { content: "\f14e"; }
.flaticon-instagram-1:before { content: "\f14f"; }
.flaticon-youtube-1:before { content: "\f150"; }
.flaticon-domain:before { content: "\f151"; }
.flaticon-vip-card:before { content: "\f152"; }
.flaticon-pie-chart:before { content: "\f153"; }
.flaticon-price-tag:before { content: "\f154"; }
.flaticon-rewind-time:before { content: "\f155"; }
.flaticon-credit-card:before { content: "\f156"; }
.flaticon-coin:before { content: "\f157"; }
.flaticon-check-1:before { content: "\f158"; }
.flaticon-graph-1:before { content: "\f159"; }
.flaticon-video:before { content: "\f15a"; }
.flaticon-idea-2:before { content: "\f15b"; }
.flaticon-umbrella:before { content: "\f15c"; }
.flaticon-growth:before { content: "\f15d"; }
.flaticon-hand-bag:before { content: "\f15e"; }
.flaticon-teamwork:before { content: "\f15f"; }
.flaticon-networking:before { content: "\f160"; }
.flaticon-chat:before { content: "\f161"; }
.flaticon-diagram:before { content: "\f162"; }
.flaticon-coin-1:before { content: "\f163"; }
.flaticon-agenda:before { content: "\f164"; }
.flaticon-calendar:before { content: "\f165"; }
.flaticon-route:before { content: "\f166"; }
.flaticon-calendar-1:before { content: "\f167"; }
.flaticon-users-1:before { content: "\f168"; }
.flaticon-line:before { content: "\f169"; }
.flaticon-note:before { content: "\f16a"; }
.flaticon-gift:before { content: "\f16b"; }
.flaticon-tv:before { content: "\f16c"; }
.flaticon-alert:before { content: "\f16d"; }
.flaticon-pass-2:before { content: "\f16e"; }
.flaticon-percent:before { content: "\f16f"; }
.flaticon-forbidden:before { content: "\f170"; }
.flaticon-cross-1:before { content: "\f171"; }
.flaticon-worker:before { content: "\f172"; }
.flaticon-process:before { content: "\f173"; }
.flaticon-play-button:before { content: "\f174"; }
.flaticon-add:before { content: "\f175"; }
.flaticon-folder-1:before { content: "\f176"; }
.flaticon-plus:before { content: "\f177"; }
.flaticon-time-1:before { content: "\f178"; }
.flaticon-check-2:before { content: "\f179"; }
.flaticon-power:before { content: "\f17a"; }
.flaticon-lock:before { content: "\f17b"; }
.flaticon-plus-1:before { content: "\f17c"; }
.flaticon-upload:before { content: "\f17d"; }
.flaticon-pass-3:before { content: "\f17e"; }
.flaticon-pin:before { content: "\f17f"; }
.flaticon-fingerprint:before { content: "\f180"; }
.flaticon-folder-2:before { content: "\f181"; }
.flaticon-view:before { content: "\f182"; }
.flaticon-minus:before { content: "\f183"; }
.flaticon-discount:before { content: "\f184"; }
.flaticon-eject:before { content: "\f185"; }
.flaticon-add-1:before { content: "\f186"; }
.flaticon-project:before { content: "\f187"; }
.flaticon-question:before { content: "\f188"; }
.flaticon-stair:before { content: "\f189"; }
.flaticon-union:before { content: "\f18a"; }
.flaticon-work:before { content: "\f18b"; }
.flaticon-connect:before { content: "\f18c"; }
.flaticon-man:before { content: "\f18d"; }
.flaticon-meet:before { content: "\f18e"; }
.flaticon-question-1:before { content: "\f18f"; }
.flaticon-car:before { content: "\f190"; }
.flaticon-members:before { content: "\f191"; }
.flaticon-businessman:before { content: "\f192"; }
.flaticon-growth-1:before { content: "\f193"; }
.flaticon-group:before { content: "\f194"; }
.flaticon-businessman-1:before { content: "\f195"; }
.flaticon-cog:before { content: "\f196"; }
.flaticon-chief:before { content: "\f197"; }
.flaticon-dollar-sign:before { content: "\f198"; }
.flaticon-between:before { content: "\f199"; }
.flaticon-human:before { content: "\f19a"; }
.flaticon-dollar:before { content: "\f19b"; }
.flaticon-guy:before { content: "\f19c"; }
.flaticon-money-3:before { content: "\f19d"; }
.flaticon-businessman-2:before { content: "\f19e"; }
.flaticon-coin-2:before { content: "\f19f"; }
.flaticon-lightbulb:before { content: "\f1a0"; }
.flaticon-umbrella-1:before { content: "\f1a1"; }
.flaticon-candidate:before { content: "\f1a2"; }
.flaticon-globe:before { content: "\f1a3"; }
.flaticon-portrait:before { content: "\f1a4"; }
.flaticon-dollar-sign-1:before { content: "\f1a5"; }
.flaticon-male:before { content: "\f1a6"; }
.flaticon-smartphone-2:before { content: "\f1a7"; }
.flaticon-play-button-1:before { content: "\f1a8"; }
.flaticon-user-3:before { content: "\f1a9"; }
.flaticon-like-1:before { content: "\f1aa"; }
.flaticon-search:before { content: "\f1ab"; }
.flaticon-placeholder:before { content: "\f1ac"; }
.flaticon-placeholder-1:before { content: "\f1ad"; }
.flaticon-star:before { content: "\f1ae"; }
.flaticon-network:before { content: "\f1af"; }
.flaticon-internet:before { content: "\f1b0"; }
.flaticon-idea-3:before { content: "\f1b1"; }
.flaticon-clock-2:before { content: "\f1b2"; }
.flaticon-photo-camera:before { content: "\f1b3"; }
.flaticon-error:before { content: "\f1b4"; }
.flaticon-music-player:before { content: "\f1b5"; }
.flaticon-edit:before { content: "\f1b6"; }
.flaticon-smartphone-3:before { content: "\f1b7"; }
.flaticon-stopwatch:before { content: "\f1b8"; }
.flaticon-database:before { content: "\f1b9"; }
.flaticon-add-2:before { content: "\f1ba"; }
.flaticon-settings:before { content: "\f1bb"; }
.flaticon-video-player:before { content: "\f1bc"; }
.flaticon-list:before { content: "\f1bd"; }
.flaticon-map-location:before { content: "\f1be"; }
.flaticon-house:before { content: "\f1bf"; }
.flaticon-user-4:before { content: "\f1c0"; }
.flaticon-picture:before { content: "\f1c1"; }
.flaticon-time-2:before { content: "\f1c2"; }
.flaticon-file:before { content: "\f1c3"; }
.flaticon-share-1:before { content: "\f1c4"; }
.flaticon-settings-1:before { content: "\f1c5"; }
.flaticon-diamond-1:before { content: "\f1c6"; }
.flaticon-hourglass-1:before { content: "\f1c7"; }
.flaticon-users-2:before { content: "\f1c8"; }
.flaticon-alarm-clock:before { content: "\f1c9"; }
.flaticon-save:before { content: "\f1ca"; }
.flaticon-paper-plane:before { content: "\f1cb"; }
.flaticon-microphone:before { content: "\f1cc"; }
.flaticon-smartphone-4:before { content: "\f1cd"; }
.flaticon-info:before { content: "\f1ce"; }
.flaticon-locked:before { content: "\f1cf"; }
.flaticon-calendar-2:before { content: "\f1d0"; }
.flaticon-view-1:before { content: "\f1d1"; }
.flaticon-menu:before { content: "\f1d2"; }
.flaticon-like-2:before { content: "\f1d3"; }
.flaticon-stopwatch-1:before { content: "\f1d4"; }
.flaticon-wifi:before { content: "\f1d5"; }
.flaticon-garbage:before { content: "\f1d6"; }
.flaticon-locked-1:before { content: "\f1d7"; }
.flaticon-speaker:before { content: "\f1d8"; }
.flaticon-calendar-3:before { content: "\f1d9"; }
.flaticon-target-3:before { content: "\f1da"; }
.flaticon-database-1:before { content: "\f1db"; }
.flaticon-worldwide:before { content: "\f1dc"; }
.flaticon-home:before { content: "\f1dd"; }
.flaticon-exit-1:before { content: "\f1de"; }
.flaticon-video-camera:before { content: "\f1df"; }
.flaticon-notebook-1:before { content: "\f1e0"; }
.flaticon-microphone-1:before { content: "\f1e1"; }
.flaticon-umbrella-2:before { content: "\f1e2"; }
.flaticon-alarm:before { content: "\f1e3"; }
.flaticon-minus-1:before { content: "\f1e4"; }
.flaticon-layers:before { content: "\f1e5"; }
.flaticon-folder-3:before { content: "\f1e6"; }
.flaticon-more:before { content: "\f1e7"; }
.flaticon-user-5:before { content: "\f1e8"; }
.flaticon-sign:before { content: "\f1e9"; }
.flaticon-cloud-computing:before { content: "\f1ea"; }
.flaticon-compact-disc:before { content: "\f1eb"; }
.flaticon-document:before { content: "\f1ec"; }
.flaticon-smartphone-5:before { content: "\f1ed"; }
.flaticon-compose:before { content: "\f1ee"; }
.flaticon-login:before { content: "\f1ef"; }
.flaticon-funnel:before { content: "\f1f0"; }
.flaticon-paper-plane-1:before { content: "\f1f1"; }
.flaticon-equal-1:before { content: "\f1f2"; }
.flaticon-equal:before { content: "\f1f3"; }
.flaticon-hourglass-2:before { content: "\f1f4"; }
.flaticon-lock-1:before { content: "\f1f5"; }
.flaticon-worldwide-1:before { content: "\f1f6"; }
.flaticon-magic-wand:before { content: "\f1f7"; }
.flaticon-locked-2:before { content: "\f1f8"; }
.flaticon-twitter:before { content: "\f1f9"; }
    
    $font-Flaticon-seo-and-web: "\f100";
    $font-Flaticon-exchange: "\f101";
    $font-Flaticon-users: "\f102";
    $font-Flaticon-profile: "\f103";
    $font-Flaticon-patent: "\f104";
    $font-Flaticon-smartphone: "\f105";
    $font-Flaticon-touch-screen: "\f106";
    $font-Flaticon-boss: "\f107";
    $font-Flaticon-user: "\f108";
    $font-Flaticon-calculator: "\f109";
    $font-Flaticon-ipad: "\f10a";
    $font-Flaticon-access-control: "\f10b";
    $font-Flaticon-success: "\f10c";
    $font-Flaticon-like: "\f10d";
    $font-Flaticon-time: "\f10e";
    $font-Flaticon-gps: "\f10f";
    $font-Flaticon-cross: "\f110";
    $font-Flaticon-multimedia: "\f111";
    $font-Flaticon-folder: "\f112";
    $font-Flaticon-attach: "\f113";
    $font-Flaticon-bell: "\f114";
    $font-Flaticon-pass: "\f115";
    $font-Flaticon-push-pin: "\f116";
    $font-Flaticon-smartphone-1: "\f117";
    $font-Flaticon-download: "\f118";
    $font-Flaticon-tick: "\f119";
    $font-Flaticon-notebook: "\f11a";
    $font-Flaticon-pass-1: "\f11b";
    $font-Flaticon-user-1: "\f11c";
    $font-Flaticon-share: "\f11d";
    $font-Flaticon-magnifying-glass: "\f11e";
    $font-Flaticon-exit: "\f11f";
    $font-Flaticon-user-2: "\f120";
    $font-Flaticon-clock: "\f121";
    $font-Flaticon-receipt: "\f122";
    $font-Flaticon-viber: "\f123";
    $font-Flaticon-graph: "\f124";
    $font-Flaticon-facebook: "\f125";
    $font-Flaticon-clock-1: "\f126";
    $font-Flaticon-youtube: "\f127";
    $font-Flaticon-financial: "\f128";
    $font-Flaticon-instagram: "\f129";
    $font-Flaticon-money: "\f12a";
    $font-Flaticon-chart: "\f12b";
    $font-Flaticon-idea: "\f12c";
    $font-Flaticon-psychology: "\f12d";
    $font-Flaticon-confusion: "\f12e";
    $font-Flaticon-analytics: "\f12f";
    $font-Flaticon-autism: "\f130";
    $font-Flaticon-in-love: "\f131";
    $font-Flaticon-thinking: "\f132";
    $font-Flaticon-greed: "\f133";
    $font-Flaticon-target: "\f134";
    $font-Flaticon-magic: "\f135";
    $font-Flaticon-password: "\f136";
    $font-Flaticon-play-video-signal: "\f137";
    $font-Flaticon-imac: "\f138";
    $font-Flaticon-archery: "\f139";
    $font-Flaticon-idea-1: "\f13a";
    $font-Flaticon-target-audience: "\f13b";
    $font-Flaticon-startup: "\f13c";
    $font-Flaticon-imac-1: "\f13d";
    $font-Flaticon-queen: "\f13e";
    $font-Flaticon-target-1: "\f13f";
    $font-Flaticon-target-2: "\f140";
    $font-Flaticon-pawn: "\f141";
    $font-Flaticon-piggy-bank: "\f142";
    $font-Flaticon-money-1: "\f143";
    $font-Flaticon-bar-chart: "\f144";
    $font-Flaticon-diamond: "\f145";
    $font-Flaticon-safebox: "\f146";
    $font-Flaticon-money-2: "\f147";
    $font-Flaticon-check: "\f148";
    $font-Flaticon-money-bag: "\f149";
    $font-Flaticon-hourglass: "\f14a";
    $font-Flaticon-invoice: "\f14b";
    $font-Flaticon-social-network: "\f14c";
    $font-Flaticon-vk: "\f14d";
    $font-Flaticon-facebook-1: "\f14e";
    $font-Flaticon-instagram-1: "\f14f";
    $font-Flaticon-youtube-1: "\f150";
    $font-Flaticon-domain: "\f151";
    $font-Flaticon-vip-card: "\f152";
    $font-Flaticon-pie-chart: "\f153";
    $font-Flaticon-price-tag: "\f154";
    $font-Flaticon-rewind-time: "\f155";
    $font-Flaticon-credit-card: "\f156";
    $font-Flaticon-coin: "\f157";
    $font-Flaticon-check-1: "\f158";
    $font-Flaticon-graph-1: "\f159";
    $font-Flaticon-video: "\f15a";
    $font-Flaticon-idea-2: "\f15b";
    $font-Flaticon-umbrella: "\f15c";
    $font-Flaticon-growth: "\f15d";
    $font-Flaticon-hand-bag: "\f15e";
    $font-Flaticon-teamwork: "\f15f";
    $font-Flaticon-networking: "\f160";
    $font-Flaticon-chat: "\f161";
    $font-Flaticon-diagram: "\f162";
    $font-Flaticon-coin-1: "\f163";
    $font-Flaticon-agenda: "\f164";
    $font-Flaticon-calendar: "\f165";
    $font-Flaticon-route: "\f166";
    $font-Flaticon-calendar-1: "\f167";
    $font-Flaticon-users-1: "\f168";
    $font-Flaticon-line: "\f169";
    $font-Flaticon-note: "\f16a";
    $font-Flaticon-gift: "\f16b";
    $font-Flaticon-tv: "\f16c";
    $font-Flaticon-alert: "\f16d";
    $font-Flaticon-pass-2: "\f16e";
    $font-Flaticon-percent: "\f16f";
    $font-Flaticon-forbidden: "\f170";
    $font-Flaticon-cross-1: "\f171";
    $font-Flaticon-worker: "\f172";
    $font-Flaticon-process: "\f173";
    $font-Flaticon-play-button: "\f174";
    $font-Flaticon-add: "\f175";
    $font-Flaticon-folder-1: "\f176";
    $font-Flaticon-plus: "\f177";
    $font-Flaticon-time-1: "\f178";
    $font-Flaticon-check-2: "\f179";
    $font-Flaticon-power: "\f17a";
    $font-Flaticon-lock: "\f17b";
    $font-Flaticon-plus-1: "\f17c";
    $font-Flaticon-upload: "\f17d";
    $font-Flaticon-pass-3: "\f17e";
    $font-Flaticon-pin: "\f17f";
    $font-Flaticon-fingerprint: "\f180";
    $font-Flaticon-folder-2: "\f181";
    $font-Flaticon-view: "\f182";
    $font-Flaticon-minus: "\f183";
    $font-Flaticon-discount: "\f184";
    $font-Flaticon-eject: "\f185";
    $font-Flaticon-add-1: "\f186";
    $font-Flaticon-project: "\f187";
    $font-Flaticon-question: "\f188";
    $font-Flaticon-stair: "\f189";
    $font-Flaticon-union: "\f18a";
    $font-Flaticon-work: "\f18b";
    $font-Flaticon-connect: "\f18c";
    $font-Flaticon-man: "\f18d";
    $font-Flaticon-meet: "\f18e";
    $font-Flaticon-question-1: "\f18f";
    $font-Flaticon-car: "\f190";
    $font-Flaticon-members: "\f191";
    $font-Flaticon-businessman: "\f192";
    $font-Flaticon-growth-1: "\f193";
    $font-Flaticon-group: "\f194";
    $font-Flaticon-businessman-1: "\f195";
    $font-Flaticon-cog: "\f196";
    $font-Flaticon-chief: "\f197";
    $font-Flaticon-dollar-sign: "\f198";
    $font-Flaticon-between: "\f199";
    $font-Flaticon-human: "\f19a";
    $font-Flaticon-dollar: "\f19b";
    $font-Flaticon-guy: "\f19c";
    $font-Flaticon-money-3: "\f19d";
    $font-Flaticon-businessman-2: "\f19e";
    $font-Flaticon-coin-2: "\f19f";
    $font-Flaticon-lightbulb: "\f1a0";
    $font-Flaticon-umbrella-1: "\f1a1";
    $font-Flaticon-candidate: "\f1a2";
    $font-Flaticon-globe: "\f1a3";
    $font-Flaticon-portrait: "\f1a4";
    $font-Flaticon-dollar-sign-1: "\f1a5";
    $font-Flaticon-male: "\f1a6";
    $font-Flaticon-smartphone-2: "\f1a7";
    $font-Flaticon-play-button-1: "\f1a8";
    $font-Flaticon-user-3: "\f1a9";
    $font-Flaticon-like-1: "\f1aa";
    $font-Flaticon-search: "\f1ab";
    $font-Flaticon-placeholder: "\f1ac";
    $font-Flaticon-placeholder-1: "\f1ad";
    $font-Flaticon-star: "\f1ae";
    $font-Flaticon-network: "\f1af";
    $font-Flaticon-internet: "\f1b0";
    $font-Flaticon-idea-3: "\f1b1";
    $font-Flaticon-clock-2: "\f1b2";
    $font-Flaticon-photo-camera: "\f1b3";
    $font-Flaticon-error: "\f1b4";
    $font-Flaticon-music-player: "\f1b5";
    $font-Flaticon-edit: "\f1b6";
    $font-Flaticon-smartphone-3: "\f1b7";
    $font-Flaticon-stopwatch: "\f1b8";
    $font-Flaticon-database: "\f1b9";
    $font-Flaticon-add-2: "\f1ba";
    $font-Flaticon-settings: "\f1bb";
    $font-Flaticon-video-player: "\f1bc";
    $font-Flaticon-list: "\f1bd";
    $font-Flaticon-map-location: "\f1be";
    $font-Flaticon-house: "\f1bf";
    $font-Flaticon-user-4: "\f1c0";
    $font-Flaticon-picture: "\f1c1";
    $font-Flaticon-time-2: "\f1c2";
    $font-Flaticon-file: "\f1c3";
    $font-Flaticon-share-1: "\f1c4";
    $font-Flaticon-settings-1: "\f1c5";
    $font-Flaticon-diamond-1: "\f1c6";
    $font-Flaticon-hourglass-1: "\f1c7";
    $font-Flaticon-users-2: "\f1c8";
    $font-Flaticon-alarm-clock: "\f1c9";
    $font-Flaticon-save: "\f1ca";
    $font-Flaticon-paper-plane: "\f1cb";
    $font-Flaticon-microphone: "\f1cc";
    $font-Flaticon-smartphone-4: "\f1cd";
    $font-Flaticon-info: "\f1ce";
    $font-Flaticon-locked: "\f1cf";
    $font-Flaticon-calendar-2: "\f1d0";
    $font-Flaticon-view-1: "\f1d1";
    $font-Flaticon-menu: "\f1d2";
    $font-Flaticon-like-2: "\f1d3";
    $font-Flaticon-stopwatch-1: "\f1d4";
    $font-Flaticon-wifi: "\f1d5";
    $font-Flaticon-garbage: "\f1d6";
    $font-Flaticon-locked-1: "\f1d7";
    $font-Flaticon-speaker: "\f1d8";
    $font-Flaticon-calendar-3: "\f1d9";
    $font-Flaticon-target-3: "\f1da";
    $font-Flaticon-database-1: "\f1db";
    $font-Flaticon-worldwide: "\f1dc";
    $font-Flaticon-home: "\f1dd";
    $font-Flaticon-exit-1: "\f1de";
    $font-Flaticon-video-camera: "\f1df";
    $font-Flaticon-notebook-1: "\f1e0";
    $font-Flaticon-microphone-1: "\f1e1";
    $font-Flaticon-umbrella-2: "\f1e2";
    $font-Flaticon-alarm: "\f1e3";
    $font-Flaticon-minus-1: "\f1e4";
    $font-Flaticon-layers: "\f1e5";
    $font-Flaticon-folder-3: "\f1e6";
    $font-Flaticon-more: "\f1e7";
    $font-Flaticon-user-5: "\f1e8";
    $font-Flaticon-sign: "\f1e9";
    $font-Flaticon-cloud-computing: "\f1ea";
    $font-Flaticon-compact-disc: "\f1eb";
    $font-Flaticon-document: "\f1ec";
    $font-Flaticon-smartphone-5: "\f1ed";
    $font-Flaticon-compose: "\f1ee";
    $font-Flaticon-login: "\f1ef";
    $font-Flaticon-funnel: "\f1f0";
    $font-Flaticon-paper-plane-1: "\f1f1";
    $font-Flaticon-equal-1: "\f1f2";
    $font-Flaticon-equal: "\f1f3";
    $font-Flaticon-hourglass-2: "\f1f4";
    $font-Flaticon-lock-1: "\f1f5";
    $font-Flaticon-worldwide-1: "\f1f6";
    $font-Flaticon-magic-wand: "\f1f7";
    $font-Flaticon-locked-2: "\f1f8";
    $font-Flaticon-twitter: "\f1f9";