.ea_form {
    margin: rem(32) auto;
    max-width: rem(500);

    .ph {
        border: 2px solid colors(black);
        border-radius: 30px;
        margin: 0.5rem auto;
        padding: 1rem;
        width: 90%;
    }

    .btn {
        width: 90%;
    }
}
