.icon {
	@include trans(all, .2s);
	
	&--first {
		fill: colors(white);
			
		&:hover {
			fill: colors(green)
		}	
	}
	
	&--content2 {
		width: 100px;
		display: block;
		margin: auto;
	}
	
	&--logo {
		stroke: colors(green);
		width: 70px;
		fill:transparent;
		display: block;
		margin: 10px auto;
		
		@include media(lg) {
			fill: transparent;
			stroke: transparent;
		}
		
		
	}
}