
@mixin link {
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding-bottom: rem(3);
    position: relative;
    text-decoration: none;
    vertical-align: top;

    &:hover {
        &::after {
            width: 100%;
        }
    }

    &::before {
        @include trans(background);

        background: rgba(colors(black), 0.5);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &::after {
        @include trans(all);

        background: blue;
        bottom: -1px;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 0;
    }
}

.link {
    @include link;

    color: blue;
}

.link_icon {
    @include link;

    span {
        vertical-align: middle;
    }
}
