footer {
    background: colors(grey-dark);
    color: colors(white);
    padding: 2rem 1rem;
    text-align: center;

    @include media(lg) {
        &:hover {
            .footer__icon {
                animation: animate_logo 3s forwards;
                fill: transparent;
                stroke: colors(white);
                stroke-dasharray: 290;
                stroke-dashoffset: 290;
                stroke-width: 1px;
            }
        }
    }
}

.footer {
    align-items: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .fitem {
        width: 100%;

        @include media(sm) {
            width: 50%;
        }

        &.footer-links {
            padding-bottom: 20px;
            text-align: center;

            @include media(sm) {
                text-align: left;
            }
        }

        &.footer-socials {
            text-align: center;

            @include media(sm) {
                text-align: right;
            }
        }
    }

    .social-link {
        color: colors(white);
        font-size: 24px;
        padding: 0.5rem;

        &:hover {
            color: colors(blue);
        }
    }

    .help-link {
        color: colors(white);
        line-height: 1.4rem;

        &:hover {
            color: colors(blue);
        }
    }
}

.footer__icon {
    @include trans(all, .2s);

    display: block;
    fill:transparent;
    margin: 10px auto;
    stroke: colors(green);
    width: 70px;

    @include media(lg) {
        fill: transparent;
        stroke: transparent;
    }
}