.fullwidth,
.header,
section {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
}

.container {
    background: pink;
    @include container;

    background: green;
}

.container-fluid {
    @include container-fluid;
}

// grid

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(24);
}

$columns: 12;

@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 100% / $columns * $i;
    }

    .col-sm-#{$i} {
        flex: 0 0 100%;
    }

    @include media(sm) {
        .col-sm-#{$i} {
            flex: 0 0 100% / $columns * $i;
        }
    }

    .col-md-#{$i} {
        flex: 0 0 100%;
    }

    @include media(md) {
        .col-md-#{$i} {
            flex: 0 0 100% / $columns * $i;
        }
    }

    // offsets

    @include media(sm) {
        .col-sm-offset-#{$i} {
            margin-left: 100% / $columns * $i;
        }
    }

    @include media(md) {
        .col-md-offset-#{$i} {
            margin-left: 100% / $columns * $i;
        }
    }

    .col-offset-#{$i} {
        margin-left: 100% / $columns * $i;
    }
}
