.fullwidth,
.header,
section {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.container {
    @include container;
}

.container-fluid {
    @include container-fluid;
}
