// colors
$colors: (
    white : #fff,
    orange: #f37b06,
    green: #20bf55,
    blue:  #1bb0d6,
    gray-light: #f4f4f4,
    black: #000,
    grey-dark: #222,
    yellow: #ebeb12,
    purple: #4c305b,
    orange-red: #ff3e33,
    red: #e8366a
);

// gradients
$gradient: (
    1: #{#ff3e33, #e8366a},
    2: #{#20bf55, #01baef}
);

//font
$font-size: rem(16);

$font-family-normal: 'Roboto', sans-serif;
$font-family-alt: 'Pribambas', sans-serif;

//shadows 

$bs: 0 0 rem(30) rem(20) rgba(colors(black), 0.2);
$bs-sm:  0 0 rem(30) rem(8) rgba(colors(black), 0.2);
$bs-neuro: inset 4px 4px 4px 0 #d1d9e6, inset -4px -4px 4px 0 colors(white);

// breakpoints
$breakpoints: (
    xxs: 350px,
    xs: 450px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    hd: 1920px,
    xl: 1921px
);
