.fullwidth,
.header,
section {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
