
.question {
    @include trans;

    cursor: pointer;

    &.active + .answer {
        height: auto;
        opacity: 1;
    }
}

.answer {
    @include trans;

    height: 0;
    opacity: 0;
    overflow: hidden;
}

.h-self-center {
    align-self: center;
}

$text-alignments: (
    left,right,center,justify
);

@each $val in $text-alignments {
    .text-#{$val} {
        text-align: $val;
    }
}

@each $color, $value in $colors {
    .c-#{$color} {
        color: $value;
    }
}

$spaceamounts: (12, 20, 24, 32, 36, 40, 48, 50, 54, 60, 70, 80, 90, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
    @each $side in $sides {
        .h-padding-#{$side}-#{$space} {
            padding-#{$side}: #{$space}px;

            @each $brakepoint, $x in $breakpoints {
                &-#{$brakepoint} {
                    @include media($brakepoint) {
                        padding-#{$side}: #{$space}px;
                    }
                }
            }
        }

        .h-margin-#{$side}-#{$space} {
            margin-#{$side}: #{$space}px;

            @each $brakepoint, $x in $breakpoints {
                &-#{$brakepoint} {
                    @include media($brakepoint) {
                        margin-#{$side}: #{$space}px;
                    }
                }
            }
        }
    }
}

$degrees: (45, 90, 180, 270);

@each $val in $degrees {
    .rotate-#{$val} {
        transform: rotate(#{$val}deg);
    }
}
