

@mixin hero {
    font-family: $font-family-normal;
    font-size: rem(42);
    letter-spacing: rem(2);
    line-height: 1.2;
    text-transform: uppercase;

    @include media(sm) {
        font-size: rem(58);
    }

    @include media(xl) {
        font-size: rem(80);
    }

    @content;
}

@mixin title {
    font-family: $font-family-normal;
    font-size: rem(32);
    font-weight: bold;
    letter-spacing: rem(2);
    line-height: 1.3;

    @include media(sm) {
        font-size: rem(38);
    }

    @include media(xl) {
        font-size: rem(48);
    }

    @content;
}

@mixin sub-title {
    font-family: $font-family-normal;
    font-size: rem(20);
    letter-spacing: rem(2);
    line-height: rem(24);
    text-transform: uppercase;
}

@mixin small-title {
    font-family: $font-family-normal;
    font-size: rem(18);
    font-weight: bold;
    letter-spacing: rem(1);
}

@mixin list {
    li {
        font-family: $font-family-normal;
        padding-left: rem(16);
        position: relative;

        + li {
            margin-top: rem(10);
        }
    }
}

.hero {
    @include hero;
}

.title {
    @include title;
}

.title-alt {
    @include title;

    font-family: $font-family-alt;
}

.sub-title {
    @include sub-title;
}

.small-title {
    @include small-title;
}

p {
    font-family: $font-family-normal;
    line-height: rem(20);
}

.list {
    @include list;
}

.icon-list {
    @include list;

    li {
        padding-left: rem(30);
    }

    .icon-list__icon {
        left: 0;
        position: absolute;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.xbold {
    font-weight: 900;
}

.bold,
b {
    font-weight: bold;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.italic {
    font-style: italic;
}
