/* preset */
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 100%;
}

html {
    font-size: 80%;

    @include media(sm) {
        font-size: 100%;
    }
}

body {
    background: colors(white);
    color: colors(black);
    font-family: $font-family-normal;
    font-size: $font-size;
    line-height: 1.23;
    overflow-x: hidden;
    position: relative;
}

input:focus,
button:focus {
    outline: 0;
}

.img-rounded {
    border-radius: 100%;
}

.img-fluid {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.video-responsive {
    display: block;
    margin: 20px;
    max-width: 350px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    &::before {
        content: "";
        display: block;
    }

    embed,
    iframe,
    object,
    video {
        border: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.video-responsive-16by9::before {
    padding-top: 56.25%;
}

/* scrollbar*/

::-webkit-scrollbar {
    width: rem(10);
}

::-webkit-scrollbar-thumb {
    background-color: colors(grey-dark);
    border-color: transparent;
    border-radius: rem(2);
    border-width: 1px 1px 1px 2px;
}

::-webkit-scrollbar-track {
    border-width: 0;
}

/* slick arrows */

.slick-prev.slick-arrow {
    background: url(../img/left.png) no-repeat 50% 50%/contain;
    border: none;
    font-size: 0;
    height: 51px;
    left: -6%;
    position: absolute;
    top: 40%;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    width: 51px;
    z-index: 1;
}

.slick-next.slick-arrow {
    background: url(../img/right.png) no-repeat 50% 50%/contain;
    border: none;
    font-size: 0;
    height: 51px;
    position: absolute;
    right: -6%;
    top: 40%;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    width: 51px;
    z-index: 1;
}
